.DS_Store
build/
*.user
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile*
compile_commands.json
CMakeLists.txt.user*

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave
*.qmlproject.user
*.qmlproject.user.*
*creator.user*
*_qmlcache.qrc
